*{
	box-sizing: border-box;
}

body {
	position: relative;
	color: white;
	font-family: 'Roboto', sans-serif;
}


.container-video{
	position: fixed;
	left: 0;
	top: 0;
	height: auto;
	z-index: -1;
}

header {
	height: 10vh;
}

header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 80px
}

header .logo{
	font-weight: bolder;
	font-size: 25px;
}

.container-main{
	height: 70vh;
}

footer{
	height: 15vh;
	display: flex;
	align-items: flex-end;
}

footer nav{
	margin: 0px 50px;
}

footer .enlace-icono{
	padding-right: 20px;
	text-decoration: none;
}